<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index1.css">
</head>
<body>
    <div class="p">
        <div class="p1"><img src="/odin image/Screenshot 2024-04-04 211231.png" alt=""></div>
        <div class="p2">All Paths</div>
        <div class="p3">About</div>
        <div class="p4">Community</div>
        <div class="p5">Support us</div>
        <div class="p6">Sign in</div>
        <div class="p7"><button id="p71" >Get Started</button></div>
    </div>
    <div class="a">
        <img src="/odin image/advanced html and css.svg" alt="" id="a1">
        <h2>Advanced HTML and CSS Courses</h2>
        <p id="a2">Overview</p>
        <p id="a3">Let's learn a little more about what you can do with HTML and CSS.</p>
        <p id="a4">Intermediate HTML Concepts</p>
        <div class="a5">
            <p>Introduction</p>
            <p id="a51">Emmet</p>
            <p id="a52">SVG</p>
            <p id="a53">Table</p>
        </div>
        <div class="a6">
            <p id="a60">Intermediate css concepts</p>
            <p id="a61">Defult style</p>
            <p id="a62">CSS Units</p>
            <P id="a63">More Text File</P>
            <p id="a64">More CSS Property</p>
            <p id="a65">Advanced Selectors</p>
            <p id="a66">Positioning</p>
            <p id="a67">CSS Functioning</p>
            <p id="a68">Custom Properties</p>
        </div>
        <div class="a7">
            <p id="a70">Forms</p>
            <p id="a71">Form Basic</p>
            <p id="a72">Form Validation</p>
            <p id="a73">progect: sign-up Form</p>
        </div>
        <div class="a8">
            <p id="a80">Grid</p>
            <p id="a81">Introduction to Grid</p>
            <p id="a82">Creating a Grid</p>
            <p id="a83">Positioning Grid Elements</p>
            <p id="a84">Advanced Grid Property</p>
            <p id="a85">Using FLexbox and Grid</p>
            <p id="a86">Project:Admin Dashboard</p>
        </div>
    </div>
    <div class="v">
        <p id="v0">Support us!</p>
        <p id="v2">The Odin Project is funded by the community. Join us in empowering learners <br>around the globe by supporting The Odin Project!</p>
        <button  id="v3" style="border: 1px solid rgb(9, 9, 9);">Learn more</button>
        <button  id="v4" style="border: 1px solid rgb(0, 0, 0); background-color: rgb(40, 123, 87);">Donate now</button>
    </div>
    <div class="w">
        <div class="wa">
            <img src="/odin image/Screenshot 2024-04-04 211231.png" alt="" id="wa1">
            <p id="wa2">High quality coding education maintained by an  open source community.</p>
            <img src="/odin image/Screenshot 2024-04-05 201646.png" alt="" id="wa3">
        </div>
        <div class="wb">
            <h3>About us</h3>
            <p id="wb1">about</p>
            <p id="wb2">Team</p>
            <p id="wb3">Blog</p>
            <p id="wb4">Sucess stories</p>
        </div>
        <div class="wc">
            <h3>Support</h3>
            <p id="wb1">FAQ</p>
            <p id="wb2">Contribute</p>
            <p id="wb3">Contact us</p>
        </div>
        <div class="wd">
            <h3>Guides</h3>
            <p id="wb1">Community guides</p>
            <p id="wb2">Installation guides</p>
        </div>
        <div class="we">
            <h3>Guid</h3>
            <p id="wb1">Terms</p>
            <p id="wb2">Privacy</p>
        </div>
    </div>


</body>
</html>