<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>netflix</title>
    <link rel="stylesheet" href="../css/netflix.css">
</head>
<body>
    <div class="parent">
        <div class="child1">
            <img src="/images/101.webp" alt="" >
            <p id="ca">When a young boy vanishes, a small town uncovers a mygery involving secret experiments, terrifying supernatural forces and one strange little girl.</p>
            <p id="cb">Winona Ryder, David Harbour, Matthew Modine TV Shows, TV Sci-Fi & Fantasy, Teen TV Shows</p>
            <img src="/images/netflix_PNG15.webp" alt="" id="cc">
            <p id="cd">S E R I E S</p>
            <button  id="ce">Play<img src="/images/icons8-play-button.gif" alt="" id="cg"></button>
            <button id="cf">More Info</button>
        </div>
    </div>
    <div class="child2"><p id="c20">Trending</p>
        <div class="c21"><img src="/images/download.jpg" alt=""></div>
        <div class="c22"><img src="/images/OIP (2).jpg" alt=""></div>
        <div class="c23"><img src="/images/OIP (4).jpg" alt=""></div>
        <div class="c24"><img src="/images/OIP (5).jpg" alt=""></div>
        <div class="c25"><img src="/images/game of thrones2.jpg" alt=""></div>
        <div class="c26"><img src="/images/breaking bad.jpg" alt=""></div>
        <div class="c27"><img src="/images/9.jpeg" alt=""></div>
        <div class="c28"><img src="/images/12.jpeg" alt=""></div>
    </div>
    <div class="child3"> <p id="c30">Blockbuster movies</p>
        <div class="c31"><img src="/images/1.jpg" alt=""></div>
        <div class="c32"><img src="/images/fast and furious3.webp" alt=""></div>
        <div class="c33"><img src="/images/2.jpg" alt=""></div>
        <div class="c34"><img src="/images/4.jpg" alt=""></div>
        <div class="c35"><img src="/images/5.jpg" alt=""></div>
        <div class="c36"><img src="/images/moneyheist (1).jpg" alt=""></div>
        <div class="c37"><img src="/images/beyond earth.jpg" alt=""></div>

    </div>
</body>
</html>