<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Odin Project</title>
    <link rel="stylesheet" href="/css/odinmain.css">
</head>
<body>
   
        <div class="p">
            <div class="p1"><img src="/odin image/Screenshot 2024-04-04 211231.png" alt=""></div>
            <div class="p2">All Paths</div>
            <div class="p3">About</div>
            <div class="p4">Community</div>
            <div class="p5">Support us</div>
            <div class="p6">Sign in</div>
            <div class="p7"><button style="height: 40px; width: 100px;background-color: rgb(4, 145, 91);color: white; border-radius: 10px;">Get Started</button></div>
        </div>
        <div class="q">
            <p id="q1" style="color: rgb(51, 50, 50);">YOUR</p>
            <P id="q2" style="color: rgb(150, 85, 16);">Career in Web Development</P>
            <p id="q3" style="color: rgb(51, 50, 50);">Starts Here</p>
            <p id="q4">Our full stack curriculum is free and supported by a</p>
            <p id="q5">passionate open source community.</p>
            <button id="q6" style="color: rgb(63, 58, 58);border: 1px solid rgb(186, 184, 184);">View Full Curriculum</button>
            </div>
            <div class="r">
                <img src="/odin image/the odin project main.svg" alt="">
            </div>
            <div class="s">
                    <p id="s1">How it works</p>
                    <p id="s2">This  is  the  website  we wish we had when we were learning on our own. We scour the internet looking for only the best resources to supplement your learning and present 
                   </p>
                   <p id="s3">them in a logical order.</p>
                   <div class="ss1">
                    <img src="/odin image/learn.svg" alt="" id="ss1">
                    <h2>Learn</h2>
                    <p>Learn from a curriculum with the best curated online tutorials, blogs, and courses.</p>

                   </div>
                   <div class="ss2">
                    <img src="/odin image/build.svg" alt="" id="ss2">
                    <h2>Build</h2>
                    <p>Build dozens of portfolio-worthy projects along the way, from simple scripts to full programs and deployed websites.</p>
                   </div>
                   <div class="ss3">
                    <img src="/odin image/connect.svg" alt="" id="ss3">
                    <h2>Connect</h2>
                    <p>You're not alone. Learn and get help from our friendly community of beginner and experienced developers.</p>
                   </div>
            </div>
            <div class="t">
                <P id="t1">Learn everything you need to know </P>
                <a href="/templates/index1.html"><div class="t2">
                    <img src="/odin image/intermediate html and css.svg" alt="">
                    <p id="tp">Intermediate HTML and CSS</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t3">
                    <img src="/odin image/advanced html and css.svg" alt="">
                    <p id="tp">Advanced HTML and CSS</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t4">
                    <img src="/odin image/Ruby on Rails.svg" alt="">
                    <p id="tb">Ruby</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t5">
                    <img src="/odin image/Databases.svg" alt="">
                    <p id="tb">Database</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t6">
                    <img src="/odin image/node.svg" alt="">
                    <p id="tb">Node JS</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t7">
                    <img src="/odin image/JavaScript.svg" alt="">
                    <p id="tb">JavaScript</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t8">
                    <img src="/odin image/Getting Hired.svg" alt="">
                    <p id="tp">Getting Hired</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t9">
                    <img src="/odin image/React.svg" alt="">
                    <p id="tb">React</p>
                </div></a>
                <a href="/templates/index1.html"><div class="t10">
                    <img src="/odin image/Ruby on Rails.svg" alt="">
                    <p id="tp">Ruby on Rils</p>
                </div></a>
                <button id="t11" style="background-color: rgb(251, 251, 255); border: solid 1px rgb(105, 101, 101);">Explore Currriculam</button>
            </div>
            <div class="u">
                <p id="u1">Sucess Stories</p>
                <div class="u2">
                    <img src="/odin image/Screenshot 2024-04-05 170009.png" alt="">
                </div>
                <a href="" id="u3">Readmore Sucess Stories</a>
            </div>
            <div class="v">
                <p id="v1">Support us!</p>
                <p id="v2">The Odin Project is funded by the community. Join us in empowering learners <br>around the globe by supporting The Odin Project!</p>
                <button  id="v3" style="border: 1px solid rgb(9, 9, 9);">Learn more</button>
                <button  id="v4" style="border: 1px solid rgb(0, 0, 0); background-color: rgb(40, 123, 87);">Donate now</button>
            </div>
            <div class="w">
                <div class="wa">
                    <img src="/odin image/Screenshot 2024-04-04 211231.png" alt="" id="wa1">
                    <p id="wa2">High quality coding education maintained by an  open source community.</p>
                    <img src="/odin image/Screenshot 2024-04-05 201646.png" alt="" id="wa3">
                </div>
                <div class="wb">
                    <h3>About us</h3>
                    <p id="wb1">about</p>
                    <p id="wb2">Team</p>
                    <p id="wb3">Blog</p>
                    <p id="wb4">Sucess stories</p>
                </div>
                <div class="wc">
                    <h3>Support</h3>
                    <p id="wb1">FAQ</p>
                    <p id="wb2">Contribute</p>
                    <p id="wb3">Contact us</p>
                </div>
                <div class="wd">
                    <h3>Guides</h3>
                    <p id="wb1">Community guides</p>
                    <p id="wb2">Installation guides</p>
                </div>
                <div class="we">
                    <h3>Guid</h3>
                    <p id="wb1">Terms</p>
                    <p id="wb2">Privacy</p>
                </div>
            </div>

                
</body>
</html>