<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
   <div class="parent"><img src="/images/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_small.jpg" alt="">
    <div class="child"><img src="/images/a.png" alt=""></div>
    <div class="child1"> 
        <p id="c11">sign in</p>
        <form id="c12"> <input type="emaiL"placeholder="Email address or phone number"  style="background: transparent; color: red; width: 300px; height: 50px; border-radius: 5px; border: 1px solid rgb(211, 211, 205);"></form>
        <form id="c13"> <input type="emaiL"placeholder="password"  style="background: transparent; color: red; width: 300px; height: 50px; border-radius: 5px; border: 1px solid rgb(211, 211, 205);"></form>
        <button id="c14">sign in</button>
        <p id="c15">forgot password?</p>
        <label id="c16">
            <input type="checkbox" name="myCheckbox">Remeber me
        </label>
        <p id="c17">New to Netflix? </p>
        <p id="c18">Sign up now.</p>
        <p id="c19">This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn more.</p>
    </div>
   </div> 
</body>
</html>